<section id="service" class="bg-light container-fluid" >
    <div class="container py-3">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="display-6 "><b>Our Service</b></h2>
          <p class="">It is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.!</p>
        </div>
  
        <div class="col-12 text-center">
          <img  src="assets\images\star.png" alt="star">
          <img  src="assets\images\star.png" alt="star">
          <img  src="assets\images\star.png" alt="star">
          <img  src="assets\images\star.png" alt="star">
          <img  src="assets\images\star.png" alt="star">
        </div>
      </div>
  
      <div class="row py-5">
  
        <div class="col-md-6 col-12 col-lg-3 mb-4">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (1).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Web Desing</h5>
              <p class="">
                Web design refers to the design of websites that are displayed on the internet. It usually refers to the user experience aspects of website development.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-12 col-lg-3 mb-4">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (2).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Web Development</h5>
              <p class="">
                Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-12 col-lg-3 mb-4">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (3).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Web Research</h5>
              <p class="">
                Internet-based research method refers to any research method that uses the Internet to collect data.Web has been e-mail has been used as well.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-12 col-lg-3 mb-4">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (4).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Web Analytics</h5>
              <p class="">
                Web analytics is the process of analyzing the behavior of visitors to a website. This involves tracking, reviewing and reporting data .
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 col-lg-3 mb-4 mb-lg-0">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (5).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">SEO</h5>
              <p class="">
                SEO stands for search engine optimization, which is a set of practices designed to improve the appearance and positioning of web pages in organic search results.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 col-lg-3 mb-4 mb-lg-0">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (6).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Digital Marketing</h5>
              <p class="">
                Digital marketing, also called online marketing, is the promotion of brands to connect with potential customers using the internet and other forms of digital communication.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-12 col-lg-3 mb-4 mb-lg-0">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (7).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">Mobile APP</h5>
              <p class="">
                A mobile app is a software application developed specifically for use on small, wireless computing devices, such as smartphones and tablets, rather than desktop.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-12 col-lg-3 mb-4 mb-lg-0">
          <div class="border p-3">
            <div class="text-center">
              <img width="128px"  src="assets\images\service (8).png" alt="">
            </div>
            <div class="text-center">
              <h5 class="text-uppercase py-2">IOT</h5>
              <p class="">
                The Internet of Things (IoT) describes the network of physical objects—“things”—that are embedded with sensors, software, and other technologies.
              </p>
              <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn  btn-outline-dark">Get a Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
