<section id="team" class="container py-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-6"><b>Meet our Team</b></h2>
        <p class="">It is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.!</p>
      </div>
  
      <div class="col-12 text-center">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
      </div>
    </div>
  
    <div class="row pt-5">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
  
          <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="card" >
              <img class="card-img-top" src="assets\images\team-1.png" alt="Card image cap">
              <div class="card-body">
               <h4 class="py-2 pb-0"><i>M.K. Tuktuki</i></h4>
               <h5>Web Developer</h5>
               <div class="py-3">
                 <a class="btn   text-light" href=""><img src="assets\images\youtube.png" alt=""></a>
                 <a class="btn   text-light" href=""><img src="assets\images\twitter.png" alt=""></a>
                 <a class="btn   text-light" href=""><img src="assets\images\linkedin.png" alt=""></a>
               </div>
             </div>
           </div>
         </div>
  
         <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
          <div class="card" >
            <img class="card-img-top" src="assets\images\team-2.png" alt="Card image cap">
            <div class="card-body">
             <h4 class="py-2 pb-0"><i>M.L. Pultusi</i></h4>
             <h5>Web Developer</h5>
             <div class="py-3">
               <a class="btn   text-light" href=""><img src="assets\images\youtube.png" alt=""></a>
               <a class="btn   text-light" href=""><img src="assets\images\twitter.png" alt=""></a>
               <a class="btn   text-light" href=""><img src="assets\images\linkedin.png" alt=""></a>
             </div>
           </div>
         </div>
       </div>
  
       <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
        <div class="card" >
          <img class="card-img-top" src="assets\images\team-3.png" alt="Card image cap">
          <div class="card-body">
           <h4 class="py-2 pb-0"><i>L.T Tuntuni</i></h4>
           <h5>Web Developer</h5>
           <div class="py-3">
             <a class="btn   text-light" href=""><img src="assets\images\youtube.png" alt=""></a>
             <a class="btn   text-light" href=""><img src="assets\images\twitter.png" alt=""></a>
             <a class="btn   text-light" href=""><img src="assets\images\linkedin.png" alt=""></a>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
  </div>
  
  </section>
  <section  class="container-fluid bg-light py-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-6"><b>Client Feedback</b></h2>
        <p class="">It is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.!</p>
      </div>
  
      <div class="col-12 text-center">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
        <img  src="assets\images\star.png" alt="star">
      </div>
    </div>
  
    <div class="row pt-5">
      <div class="col-12">
  
        <blockquote class="blockquote text-center">
          <img class="rounded-circle" src="assets\images\client-1.png" alt="">
          <p class="mb-0">It is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.</p> <br>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>
  </section>
